body{
	background-color: #E8E8E8;
	padding: 0px;
	margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.con{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.item{
	padding: 20px;
	margin-top: 40px;
	background-color: #808080;
	color: white;
	height: 60%;
	border-radius: 6px;
}
.item label{
	display: block;
    text-align: center;
}

.item:hover {
	background-color: #606060;
}

.con-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
}

.item-box{
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #606060;
	color: white;
}

#login.item{
	width: 20%;
}

input, select, textarea{
	width: 100%;
	border-radius: 4px;
}

input[type=submit]{
	background-color: #4CAF50; 
	border-style: none;
}


h1 a,p a { 
color: white;
text-decoration: none;
}

h1 a:hover, p a:hover {
color: #4CAF50;
text-decoration: none;
}




footer {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
